
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #2B46B5;
    height: 100vh;
    width: 100vw;
    image-rendering: pixelated;
    -webkit-font-smoothing: antialiased;
    font-family: 'Inconsolata', monospace;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

h1 {
    color: white;
    /* text-transform: uppercase; */
    font-size: 30px;
    letter-spacing: 5px;
    font-weight: 400;
}

p {
    letter-spacing: 1px;
    color: white;
    font-size: 15px;
    opacity: .8;
}

a {
    font-weight: bolder;
    text-decoration: none;
    color: white;
    transition: all .3s;
}

a:hover {
    color: aqua;
}

#pong {
    z-index: 1;
    /* position: relative; */
    width: 55vw;
    height: 55vh;
    margin: 40px 0;
    cursor: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#pong:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#text {
    text-align: center;
    background-color: #2B46B5;
}

#copyright {
    font-size: 10px;
    transform: translateY(50px);
}